@media (max-width: 1100px){
  .footImg{
    padding: 0;
    margin: 27px;
  }
  .footText{
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
    nav {
      width: 100%;
    }
    .callNum{
      margin-right: 53px;
    }
    .headLine h2{
      font-size: 18px;
    }
    .headLine span{
      font-size: 8px;
    }
    .innertext{ 
      font-size: 8px;
    }
    .firstSec {
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
    }
    .leftSec {
      width: 90%;
      text-align: center;
      padding: 0 20px;
    }
    .rightSec {
      padding: 0;
    }
    .rightSec img {
      width: 80%;
    }
    main hr {
      margin: 30px 0;
    }
    .secondSec {
      height: auto;
    }
    .footText {
      width: 100%;
      padding: 60px 0 28px 0 ;
      text-align: center;
    }
    .foot3{
      justify-content: center;
      gap: 30px;
    }
    .footImg {
      padding: 20px 0;
      margin: 23px;
    }
  }

  @media (min-width: 430px) and (max-width: 680px) {
    .footImg{
      display: none;
    }
    nav {
      width: 100vw;
      flex-direction: column;
      height: auto;
      padding: 10px;
      justify-content: center;
      position: relative;
    }
    .fa-phone{
      display: none;
    }
  }

  @media (max-width: 430px) {
    body{
        max-width: 100%;
        margin: 0px;
    }
    section{
        max-width: 100%;
    }
    nav {
        width: 100vw;
        flex-direction: column;
        height: auto;
        padding: 10px;
        justify-content: center;
        position: relative;
      }
    
      .left {
        margin-bottom: 10px;
        text-align: center;
      }
    
      .right ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
      }
    
      .right ul li {
        margin: 10px 0;
      }
    .callNum{
      margin-right: 54px;
    }
    .headLine h2 {
      font-size: 16px;
    }
    .headLine span {
      font-size: 7px;
    }
    .innertext {
      font-size: 7px;
    }
    .firstSec {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
    .leftSec {
      width: 95%;
      text-align: center;
      padding: 0 10px;
    }
/* 
    .leftSec h2{
        margin-top: 48px;
    } */
    .rightSec img {
      width: 75%;
    }
    main hr {
      margin: 20px 0;
    }
    .projects {
      padding: 40px;
      grid-template-columns: 1fr;
      margin-bottom: 50px;
    }

    .projects .project{
        margin-top: 27px;
    }
    .project {
      grid-template-columns: 1fr;
    }
    .project > h3 {
        font-size: 20px;
    }

    .description{
      font-size: 12px;
    }
    .secondSec {
      height: auto;
    }
    .footText {
      width: 100%;
      padding: 20px 0 20px 10px;
      text-align: center;
    }
    .foot3 {
      justify-content: center;
      gap: 20px;
    }
    .footImg {
      display: none;
    }
    .project-icons img {
      width: 15px;
      margin-right: 15px;
    }
  }
